<template>
  <div id='body'>
      <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  },
  data() {
    return {
      collapses: false,
    }
  },

  methods: {
  },

  mounted() {
  }
}
</script>
