<template>
  <div class="container-fluid">
    <div class="row mt-2">
      <div :class="[ownedWallets.length > 0 ? 'col-md-6' : 'col-md-8']"></div>
      <div :class="[ownedWallets.length > 0 ? 'col-md-6' : 'col-md-4']">
        <div class="d-flex align-items-center btn-actions">
          <button class="btn-info btn btn-block" @click="sortedWalletsArray()" v-if="ownedWallets.length > 0">
            Sort Wallets
          </button>
          <button class="btn-warning btn btn-block" @click="exportConfig()" v-if="ownedWallets.length > 0">
            <font-awesome-icon class="mr-1" icon="download"/>
            Export wallet config
          </button>
          <button data-toggle="modal" data-target="#importWallets" class="btn-info btn btn-block">
            <font-awesome-icon class="mr-1" icon="download"/>
            Import config File
          </button>
          <button data-toggle="modal" data-target="#addNewWallet" class="btn-success btn btn-block">
            <font-awesome-icon class="mr-1" icon="plus-square"/>
            Add new Wallet
          </button>
        </div>
      </div>
    </div>

    <div class="row  mb-2 mt-4">
      <div class="col">
        <div class="d-flex justify-content-between">
          <div class="card card-body m-1">
              Balance: {{ getPriceValue(totalBalance, 4) }} <span style="font-size:9px;">EGLD</span>
          </div>
          <div class="card card-body m-1">
              Claimable Rewards: {{ getPriceValue(totalClaimableRewards, 4)  }} <span style="font-size:9px;">EGLD</span>
          </div>
          <div class="card card-body m-1">
            Stake Legacy: {{ getPriceValue(totalLegacyStaked, 4)  }} <span style="font-size:9px;">EGLD</span>
          </div>
          <div class="card card-body m-1">
            Delegation: {{ getPriceValue(totalDelegation, 4)  }} <span style="font-size:9px;">EGLD</span>
          </div>
          <div class="card card-body m-1">
            Undelegate : {{ getPriceValue(totalUndelegatedRewards, 4) }} <span style="font-size:9px;">EGLD</span>
          </div>
          <div class="card card-body m-1">
            Staked Nodes : {{ getPriceValue(totalStakedNodes, 4) }} <span style="font-size:9px;">EGLD</span>
          </div>
          <div class="card card-body m-1">
            Total : {{ getPriceValue(totalBalance + totalLegacyStaked + totalDelegation + totalClaimableRewards + totalStakedNodes, 4) }} <span style="font-size:9px;">EGLD</span>
          </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body p-0">
            <div class="table-responsive" v-if="wallets.length > 0">
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th>Wallet Key</th>
                  <th>Name</th>
                  <th>Balance</th>
                  <th>Delegations</th>
                  <th>Staked Nodes</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="wallet in wallets" :key="wallet.address">
                  <td>{{ wallet.id }}</td>
                  <td><span class="d-flex justify-content-start"><copy-text class="mr-2" :text="wallet.address"></copy-text> {{ middleStringEllipsis(wallet.address, 15) }}</span></td>
                  <td> {{ wallet.name }}</td>
                  <td> {{ getPriceValue(wallet.balance, 5) }} EGLD</td>
                  <td class="p-0">
                    <table class="table table-striped" v-if="wallet.delegationsDetails && wallet.delegationsDetails.length > 0">
                      <thead class="thead-dark-light"> 
                      <tr>
                        <th>Provider</th>
                        <th>Active</th>
                        <th>Claimable</th>
                        <th>Undelegates</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(delegation, index) in wallet.delegationsDetails" :key="index">
                          <td>{{ mapProvider(delegation.contract) }}</td>
                          <td>{{ getPriceValue(delegation.userActiveStake, 4) }}</td>
                          <td>{{ getPriceValue(delegation.claimableRewards, 4) }}</td>
                          <td>{{ getPriceValue(delegation.userUnBondable, 4) }}</td>
                        </tr>

                        <tr v-if="wallet.delegationsLegacyDetails">
                          <td>Elrond Legacy</td>
                          <td>{{ getPriceValue(wallet.delegationsLegacyDetails.userActiveStake, 4) }}</td>
                          <td>{{ getPriceValue(wallet.delegationsLegacyDetails.claimableRewards, 4) }}</td>
                          <td>{{ getPriceValue(wallet.delegationsLegacyDetails.userUnstakedStake, 4) }}</td>
                        </tr>

                        <tr class="bg-total" v-if="wallet.delegationsDetails && wallet.delegationsDetails.length > 0">
                            <td>Total</td>
                            <td> {{ getPriceValue(totalDelegationWallet(wallet), 4)}} </td>
                            <td> {{ getPriceValue(totalClaimableWallet(wallet), 4)}} </td>
                            <td> {{ getPriceValue(totalUndelegatedWallet(wallet), 4)}} </td>
                          </tr>
                      </tbody>
                    </table>
                  </td>
                  <td><span v-if="wallet.stakedNodes">{{getPriceValue(wallet.stakedNodes.totalStaked, 4)}} EGLD</span></td>
                  <td class="text-right">
                    <button class="btn btn-small btn-danger ml-3" @click="removeWallet(wallet)">
                      <font-awesome-icon icon="trash-alt"/>
                      Remove Wallet
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div v-else>
              <div class="alert alert-primary m-4" role="alert">
                No wallets has been added.
              </div>
            </div>
          </div>
        </div>
      </div>

      <loading
          :is-full-page="false"
          :active.sync="isLoading"
          loader="spinner"
          color="#00B1E2 ">
      </loading>
    </div>

    <!-- Modal Add Node -->
    <div class="modal fade" id="addNewWallet" tabindex="-1" role="dialog" aria-labelledby="addNewWallet"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add new Wallet</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="main-content-accountsettings">

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input id="name" v-model="newWallet.name" type="text" name="name" class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Wallet</label>
                  <div class="col-sm-9">
                    <input id="erdkey" v-model="newWallet.erdkey" type="text" name="erdkey" class="form-control">
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-md-12">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 pull-right">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" @click="addWallet(newWallet)">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Import Node -->
    <div class="modal fade" id="importWallets" tabindex="-1" role="dialog" aria-labelledby="importWallets"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Import config file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <div class="main-content-accountsettings">
              <span>
                <div class="row"> 
                  <div class="col-6"><input type="file" id="selectFiles" value="Import"/></div>
                  <div class="col-6"><button @click="importConfig()" class="btn btn-primary">Import Wallet config</button></div>
                </div>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import CopyText from '../widgets/CopyText.vue';
export default {
  name: 'Dashboard',
  components: {
      Loading, CopyText
  },
  data() {
    return {
      newWallet: {
        erdkey: null,
        name: null
      },
      wallets: [],
      providers: [],
      providersContracts: [],
      videos: [],
      isLoading: false
    }
  },

  methods: {
    addWallet(wallet) {
      this.$store.dispatch('addWalletToList', wallet);
      $('#addNewWallet').modal('hide');
      this.wallets = [];
      this.getData();
      this.clearData();
    },

    sortedWalletsArray(){
      console.log(this.wallets);
      return this.wallets.sort((a, b) => a.id - b.id );
    },

    clearData() {
      this.newWallet.erdkey = "";
    },

    removeWallet(wallet) {
      this.wallets.splice(this.wallets.indexOf(wallet), 1);
      this.$store.dispatch('removeWalletFromList', wallet);

      this.$toast.open({
        message: 'Wallet deleted!',
        type: 'success',
        position: 'top-left'
      });
    },

    clearWallets() {
      this.$store.dispatch('removeWallets');
    },

    exportConfig() {
      if (this.ownedWallets.length === 0) {
        return;
      }

      const data = JSON.stringify(this.ownedWallets)
      const blob = new Blob([data], {type: 'text/plain'})
      const e = document.createEvent('MouseEvents'),
          a = document.createElement('a');
      a.download = "config.json";
      a.href = window.URL.createObjectURL(blob);
      a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
      e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      a.dispatchEvent(e);

      this.$toast.open({
        message: 'Config file has been exported!',
        type: 'success',
        position: 'top-left'
      });
    },

    importConfig() {
      const files = document.getElementById('selectFiles').files;

      if (files.length <= 0) {
        return false;
      }

      const fr = new FileReader();

      fr.onload = e => {
        if (!this.IsJsonString(e.target.result)) {
          //TODO Invalid json Warning
          console.log(e);
        }

        const result = JSON.parse(e.target.result);
        result.forEach(value => {
          this.$store.dispatch('addWalletToList', value);
        });
        this.getData(result);
      }
      fr.readAsText(files.item(0));
      $('#importWallets').modal('hide');
      this.getData();
    },

    IsJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },

    getData(wallets = null) {
      const walletToParse = this.ownedWallets.length ? this.ownedWallets : wallets.length ? wallets : [];
      walletToParse.forEach(wallet => {
          this.getBalance(wallet);
        });
    },

    getBalance(wallet) {
      axios.get('https://api.elrond.com/accounts/' + wallet.erdkey).then(response => {
    

        this.wallets.push(response.data);
            
        this.wallets.forEach((wally, key) => {
          if (wally.address === wallet.erdkey) {
            this.$set(this.wallets[key], 'id', wallet.id);
            this.$set(this.wallets[key], 'name', wallet.name);
          }
        });


        this.getDelegations(wallet.erdkey);
        this.getLegacy(wallet.erdkey);
        this.getStakedNodes(wallet.erdkey);
      }).catch(error => {
        console.log(error);
      });
    },

    getLegacy(wallet) {
      axios.get('https://api.elrond.com/accounts/' + wallet + '/delegation-legacy').then(response => {
        this.wallets.forEach((balance, key) => {
          if (balance.address === wallet) {
            this.$set(this.wallets[key], 'delegationsLegacyDetails', response.data);
          }
        });
      }).catch(error => {
        console.log(error);
      });
    },

    getStakedNodes(wallet){
     
      axios.get(' https://api.elrond.com/accounts/' + wallet + '/stake').then(response => {
        this.wallets.forEach((balance, key) => {
          if (balance.address === wallet) {
            this.$set(this.wallets[key], 'stakedNodes', response.data);
          }
        });
      }).catch(error => {
        console.log(error);
      });
    },


    getDelegations(wallet) {
      axios.get('https://delegation-api.elrond.com/accounts/' + wallet + '/delegations').then(response => {
        this.wallets.forEach((balance, key) => {
          if (balance.address === wallet) {
            this.$set(this.wallets[key], 'delegationsDetails', response.data);
          }
        });

        if(this.wallets.length === this.ownedWallets.length){
          let contracts = [];
          this.wallets.forEach(wallet => {
            if(wallet.delegationsDetails && wallet.delegationsDetails.length){
              wallet.delegationsDetails.forEach(delegation => {
                contracts.push(delegation.contract);
              })
            }
          })

          contracts = [...new Set(contracts)];
          this.$store.dispatch('setProviders', contracts);
        }
      }).catch(error => {
        console.log(error);
      });
    },

    mapProvider(contract) {
      let match = this.providersList.filter(provider => provider.providers && provider.providers.length > 0 && provider.providers[0] === contract);
      if (match && match.length > 0) {
        return match[0].name;
      }
    },

    totalDelegationWallet(wallet) {
      let value = 0;
        if(wallet.delegationsDetails){
          wallet.delegationsDetails.forEach((address) => {
            value += parseInt(address.userActiveStake);
          });
        }

      return value;
    },

    totalClaimableWallet(wallet) {
      let value = 0;
        if(wallet.delegationsDetails){
          wallet.delegationsDetails.forEach((address) => {
            value += parseInt(address.claimableRewards);
          });
        }

      return value;
    },

      totalUndelegatedWallet(wallet) {
      let value = 0;
        if(wallet.delegationsDetails){
          wallet.delegationsDetails.forEach((address) => {
            value += parseInt(address.userUnBondable);
          });
        }

      return value;
    },
  },
  computed: {
    ownedWallets() {
      return this.$store.getters.wallets;
    },
    providersList(){
      return this.$store.getters.providers;
    },
    totalBalance() {
      let value = 0;
      this.wallets.forEach((wallet) => {
        value += parseInt(wallet.balance);
      });

      return value;
    },
    totalLegacyStaked() {
      let value = 0;
      this.wallets.forEach((wallet) => {
        if(wallet.delegationsLegacyDetails){
          value += parseInt(wallet.delegationsLegacyDetails.userActiveStake);
        }
      });

      return value;
    },
    totalClaimableRewards() {
      let value = 0;
      this.wallets.forEach((wallet) => {
        if(wallet.delegationsDetails){
          wallet.delegationsDetails.forEach((address) => {
            value += parseInt(address.claimableRewards);
          });
        }
      });

      this.wallets.forEach((wallet) => {
        if(wallet.delegationsLegacyDetails){
          value += parseInt(wallet.delegationsLegacyDetails.claimableRewards);
        }
      });

      return value;
    },
    totalUndelegatedRewards() {
      let value = 0;
      this.wallets.forEach((wallet) => {
        if(wallet.delegationsDetails){
          wallet.delegationsDetails.forEach((address) => {
            if(address.userUndelegatedList.length > 0){
              address.userUndelegatedList.forEach((Undelegation) => {
                value += parseInt(Undelegation.amount);
              });
            }
          });
        }
      });

      this.wallets.forEach((wallet) => {
        if(wallet.delegationsLegacyDetails){
          value += parseInt(wallet.delegationsLegacyDetails.userUnstakedStake);
        }
      });

      return value;
    },

    totalStakedNodes() {
      let value = 0;
      this.wallets.forEach((wallet) => {
        if(wallet.stakedNodes){
            value += parseInt(wallet.stakedNodes.totalStaked);
        }
      });

      return value;
    },
    
    totalDelegation() {
      let value = 0;
      this.wallets.forEach((wallet) => {
        if(wallet.delegationsDetails){
          wallet.delegationsDetails.forEach((address) => {
            value += parseInt(address.userActiveStake);
          });
        }
      });

      return value;
    },
  },
  created() {
    this.getData();
  }
}
</script>