:root {
    --app-background-color: #F2F2F2;
    --card-background-color: #fff;
    --primary-text: #626262;
    --color-blue: #3A78DB;
    --color-green: #17C356;
    --color-yellow: #FFD034;
    --card-border: 1px solid rgb(242 242 242);
    --loading-title: #d8d8db;
    --loading-bar: #92939c;
    --peer-background: linear-gradient(180deg, #11D258, #20AF55);
    --sidebar: #3A78DB;
    --info-load: #545454;
    --hr: #dbdbdb;
    --icon-bg: #fff;
    --dot: #fff;
    --th-bg: #3976d8;
    --modal-bg: #fff;
    --border-bg: #ccc;
    --links: #3976d8;
    --progress-green: linear-gradient(to right, #79d674 0%, #79d674 100%);
    --progress: linear-gradient(to right, #fff 0%, #17c671 30%, #79d674 56%, #ffc107 66%, #e8832c 72%, #dc3545 100%);
    --progress-yellow: linear-gradient(to right, #17c671 0%, #17c671 40%, #79d674 76%, #ffc107 100%);
    --progress-red: linear-gradient(to right, #17c671 0%, #17c671 30%, #79d674 36%, #ffc107 66%, #e8832c 72%, #dc3545 100%);
    --icon-cpu: #437CD9;
    --bg-odd: rgb(246, 250, 255);
    --bg-total:  rgb(228, 239, 255);
}

[theme="dark"] {
    --app-background-color: #333340;
    --card-background-color: #3B3D4C;
    --primary-text: #fff;
    --color-blue: #44C7F9;
    --color-green: #13DC5D;
    --color-yellow: #FFD034;
    --card-border: 1px solid rgba(0, 0, 0, 0.125);
    --loading-title: #333340;
    --loading-bar: #474958;
    --peer-background: linear-gradient(180deg, #11D258, #20AF55);
    --sidebar: #3B3D4C;
    --info-load: #dfdfdf;
    --hr: #5E6174;
    -icon-bg: #585C73;
    --dot: #3b3d4c;
    --th-bg: #4a4c5c;
    --modal-bg: #3a3a46;
    --border-bg: #4b4b5b;
    --links: #3976d8;
    --progress-green: linear-gradient(to right, #fff 0%, #79d674 100%);
    --progress: linear-gradient(to right, #fff 0%, #17c671 30%, #79d674 56%, #ffc107 66%, #e8832c 72%, #dc3545 100%);
    --progress-yellow: linear-gradient(to right, #fff 0%, #17c671 40%, #79d674 76%, #ffc107 100%);
    --progress-red: linear-gradient(to right, #fff 0%, #17c671 30%, #79d674 36%, #ffc107 66%, #e8832c 72%, #dc3545 100%);
    --icon-cpu: #585C73;
    --bg-odd: #2b2d37;
    --bg-total: #515568;
} 