@use '~bootstrap/scss/bootstrap';
@import 'variables';

body {
    font-size: 0.89rem;
    background-color: var(--app-background-color);
    color: var(--primary-text);
}

a {
    color: var(--links);
}

hr {
    border-top: 1px solid var(--hr);
}
.wrapper {
    margin-left: 4.5rem;
    padding: 1rem;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: var(--bg-odd);
}

.table-striped .bg-total {
    background: var(--bg-total)!important;

}


.sidebar {
    position: fixed;
    background-color: var(--sidebar);
    width: 4.5rem;
    padding-bottom: 0;
    height: 100%;
    padding-top: 1rem;
    z-index: 5;
    transition: all .2s ease;
    box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 32%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li { 
        width: 50px;
        height: 50px;
        margin: 20px auto;
        display: flex;
        box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 20%);
    }
}

.btn-listnode , .btn-config , .btn-mode {
    border-radius: 0.6rem;
    padding: 15px;
    width: 100%;
    text-align: center;
    svg {
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        -webkit-filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .3));
        filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .3));
    }

}
.btn-listnode {
    background-image: linear-gradient(60deg, #44C7F9, #238FB8);
}

.btn-config {
    background-image: linear-gradient(60deg, #E9B300, #D5A60F);
}

.btn-mode {
    background-image: linear-gradient(60deg, #73D89F, #30983B);
}

.card-title {
    color: (--primary-text);
    font-weight: 500;
}

.card-body {
    padding: 0.7rem 1rem;
}

.card {
    border-radius: 0.4rem;
    background: var(--card-background-color);
    box-shadow: 2px 2px 8px 0px rgb(0 0 0 / 10%);
    border: var(--card-border)!important;
}

.card.status-eligible {
    border: 1px solid #FFD034;
}

.node-title, .node-version, .node-key {

    margin-bottom: 8px;

    .label {
        min-width: 105px;
        display: inline-block;
    }
}

.color-blue {
    color: var(--color-blue);
}

.node-title .status {
    color:var(--color-yellow);
    font-weight: bold;
}

.color-green {
    color: var(--color-green);
}

.info-label, .info-block-label {
    color:(--primary-text);
}

.info-block-label {
    margin-bottom: 8px;
}

.info-block-title {
    color:#ffff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

b {
    font-weight:600;
}

.icon-wrapper {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    width: 45px;
    background: #585C73;
    display: block;
    height: 45px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 10%);

    svg {
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }
}

.whitecol {
    color: rgb(250, 250, 250);
}

.redcol {
    color: #FF5A64;
}

.greencol {
    color: var(--color-green);
}

.yellowcol {
    color: #ECE119;
}

.orangecol {
    color: #e8832c;
}

.bluecol {
    color: #19B2EC;
}

.info-load {
    color: var(--info-load);
    font-size: 16px;
    margin-left: 10px;
}

.info-value {
    color: #BFC4DB;
    margin-top: 5px;
}

.percentage-load {
    font-size: 20px;
    font-weight: bold;
}

.vue-content-placeholders-text__line,
.vue-content-placeholders-heading__subtitle,
.vue-content-placeholders-heading__title {
    background: var(--loading-title);
}

.vue-content-placeholders-is-animated .vue-content-placeholders-text__line::before,
.vue-content-placeholders-is-animated .vue-content-placeholders-heading__subtitle::before,
.vue-content-placeholders-is-animated .vue-content-placeholders-heading__title::before {
    background: linear-gradient(to right, transparent 0%, var(--loading-bar) 15%, transparent 30%);
}

.icon-dark {
    background: var(--icon-bg)!important;
}

.log-file {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text);
    text-align: center;
    margin-top: 25px;
}

.info-break-all {
    word-break: break-all;
}

.inner-green-sh {
    box-shadow: inset 0px 0px 0px 2px #1edc5dcc;
}

.inner-red-sh {
    box-shadow: inset 0px 0px 6px 3px #ff404061;
}

svg.svg-inline--fa.fa-handshake.fa-w-20 {
    font-size: 22px;
}


@keyframes pulse_animation {
    0% { box-shadow: inset 0px 0px 6px 5px #ff404061; }
	50% { box-shadow: inset 0px 0px 6px 6px #ff404061; }
	100% { box-shadow: inset  0px 0px 6px 7px #ff404061; }
    
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 2500ms;
    transform-origin:70% 70%;
    animation-iteration-count: 2;
    animation-timing-function: linear;
}

.table .thead-dark th {
    color: #fff;
    background-color: var( --th-bg);
    border:none;
    font-weight: normal;
}

.thead-dark-light th {
    color: var(--primary-text);
}

.table td {
    color:  var(--primary-text);
    padding: 0.5rem!important;
}

.table th {
    border:none;
}

.btn-small {
    font-size: 13px;
}

.btn-success {
    background-image: linear-gradient(60deg, #0CC237, #1FAB10); 
}

.btn-danger {
    background-image: linear-gradient(60deg, #FF435C, #DB2D2D); 
}

.btn-warning {
    background-image: linear-gradient(60deg, #FBBE44, rgb(238, 164, 35)); 
}

.btn-primary {
    background-image: linear-gradient(60deg, #44C7F9, #1A91BE);
}

.btn-info {
    background-image: linear-gradient(60deg, #44C7F9, #1a53be);
}

.btn-actions {
    .btn-primary, .btn-danger, .btn-success, .btn-warning, .btn-secondary, .btn-info {
        margin-top: 0.5rem;
        margin-left: 1rem;
        font-size: 14px;
        padding: 8px;
    }
}
.btn-primary, .btn-danger, .btn-success, .btn-warning, .btn-secondary, .btn-info {
    border-radius: 6px;
    color:#fff;
    max-width: 250px;
    border:none;
    margin: 0px auto;
}

.modal-dialog {
    .btn-primary, .btn-danger, .btn-success, .btn-warning, .btn-secondary, .btn-info {
        min-width: 200px;
    }
}

.modal-content {
    background: var(--modal-bg);
}

.modal-footer {
    border-top: 1px solid var(--border-bg);
}

.modal-header {
    border-bottom: 1px solid var(--border-bg);
    .modal-title {
        font-size: 16px;
    }
}
.close {
    color: var(--primary-text);
}

@media (max-width: 800px) {
    .btn-actions {
        .btn {
            max-width: 100%;
        }
    }
  }