<template>
  <div id="app">
    <Sidebar />
    <div class="wrapper">
      <router-view :key="$route.fullPath"></router-view>
    </div>
  </div>
</template>

<script>

import Sidebar from './layouts/Sidebar.vue';

export default {
  name: 'App',
  components: {
    Sidebar
  }
}
</script>