<template>
    <div class="sidebar">
      <ul class="menu-tabs">
        <li @click="switchTheme()">
          <a class="btn-mode"><font-awesome-icon v-if="darkMode == true" icon="sun" /><font-awesome-icon v-else icon="moon" /></a>
          </li>
      </ul>
    </div>
</template>

<script>
export default {
    name: 'Sidebar',

    data() {
        return {
            darkMode: false,
        }
    },

    methods: {
        switchTheme() {
            this.darkMode === true ? this.darkMode = false : this.darkMode = true;
        }
    },

    mounted() {
        // set 'app-background' class to body tag
        let bodyElement = document.body;
        bodyElement.classList.add("app-background");

        // check for active theme
        let htmlElement = document.documentElement;
        let theme = localStorage.getItem("theme");

        if (theme === 'dark') {
            htmlElement.setAttribute('theme', 'dark')
            this.darkMode = true
        } else {
            htmlElement.setAttribute('theme', 'light');
            this.darkMode = false
        }
    },
    watch: {
         darkMode: function () {
            let htmlElement = document.documentElement;

            if (this.darkMode) {
                localStorage.setItem("theme", 'dark');
                htmlElement.setAttribute('theme', 'dark');
            } else {
                localStorage.setItem("theme", 'light');
                htmlElement.setAttribute('theme', 'light');
            }
        }
    }
}
</script>