<template>
    <div class="pointer-cursor">
        <div id="clipboard-copy" v-if="!clipboard" @click="doCopy">
            <font-awesome-icon icon="clone" />
        </div>
        <div id="clipboard-success" v-if="clipboard">
            <font-awesome-icon icon="check-square" />
        </div>
    </div>
</template>
<script>

export default {
    name: 'copy-text',
    props: {
        text: String
    },
    components: {
    },
    data() {
        return {
            clipboard: false,
        }
    },

    created() {
    },

    methods:{
        doCopy: function () {
            this.$copyText(this.text).then(function () {
                this.clipboard = true;
                
                setTimeout(() => {
                    this.clipboard = false;
                }, 650);
            }.bind(this), function (e) {
                console.log(e)
            })
        },
    },
    computed: {

    },


}
</script>
